p {
    font-family: 'Waiting For The Sunrise';
    font-size: 20px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: 'Kanit';
}

h2 {
    font-family: 'Cutive Mono';
    font-weight: bold;
}